
.container{
  background-color: transparent;
  position: relative;
  left : 80px;
 }
 
 .topcorner{
   position:absolute;
    top:10px;
    right: 10px;
  }
  
  .topcorner_left{
    position: fixed;
    top:10px;
    left: 10px;
  }

	.logo  {
		<!--background:linear-gradient(left, #000, #000) no-repeat 50px 50px;-->
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
	}
	
	.offset {
    <!--background-image: linear-gradient(left, transparent 300px,rgba(39,39,39,.5) 300px, rgba(39,39,39,.5) 100%);-->
	background-color: blue;
    width: 100%;
    height: 500px;
}

.sprint-logo {
  padding-top: 5px;
  padding-right: 10px;
  margin-bottom: 15px;
  color: #6f7787;
  background-color: #d1e0ff; /* #fff799; */
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/*
.a_btn{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

margin: 5px;

		width: 150px;
		height: 35px;
  
    color: #333;
    background-color: lightblue;
    border-color: #ccc;
}

.a_btn:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
*/

.a_btn:link, .a_btn:visited{
  background-color: #337AB7;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 40px;
}

.a_btn:hover, .a_btn:active{
  background-color: #286090;
}





.btn-edit{
	color:#fff;
	background-color:#B7B066;
	border-color:#4cae4c
}

.btn-edit.focus,.btn-edit:focus{
	color:#fff;
	background-color:#9B8E36;
	border-color:#255625
}

.btn-edit:hover{
	color:#fff;
	background-color:#9B8E36;
	border-color:#398439
}

/**
.btn-edit.active,.btn-edit:active,.open>.dropdown-toggle.btn-edit{
	color:#fff;
	background-color:#9B8E36;
	border-color:#398439
}

.btn-edit.active.focus,.btn-edit.active:focus,.btn-edit.active:hover,.btn-edit:active.focus,.btn-edit:active:focus,.btn-edit:active:hover,.open>.dropdown-toggle.btn-edit.focus,.open>.dropdown-toggle.btn-edit:focus,.open>.dropdown-toggle.btn-edit:hover{
	color:#fff;
	background-color:#398439;
	border-color:#255625
}

.btn-edit.active,.btn-edit:active,.open>.dropdown-toggle.btn-edit{
	background-image:none
}

.btn-edit.disabled.focus,.btn-edit.disabled:focus,.btn-edit.disabled:hover,.btn-edit[disabled].focus,.btn-edit[disabled]:focus,.btn-edit[disabled]:hover,fieldset[disabled] .btn-edit.focus,fieldset[disabled] .btn-edit:focus,fieldset[disabled] .btn-edit:hover{
	background-color:#B7B066;
	border-color:#4cae4c
}

.btn-edit .badge{
	color:#B7B066;
	background-color:#fff
}
*/


#hide_column th{
	visibility: hidden;
}

.form-control-min {
border: 0;
}

.form-control-min-full {
border: 0;
width: 100%;
}


/* highlight results */

/* Style the input */
.on-page-search {
/*#liveSearch {*/
width: 100%;
font-size: 14px;
line-height: 26px;
color: #787d85;
background-color: #fcfcfc;
border: 1px solid #e0e1e1;
padding: 5px 15px;
}

/* Style the list */
.demo-links {
border-bottom: none;
padding: 5px 5px;
line-height: 36px;
}

/* Style the results */
.results {
background: #de1919;
color: white;
}
.results:hover {
background: #333;
color: white;
}

.noresults {
color:#f3f4f5;
}


.hide {
  display: none;
}


.highlight {
  background-color: yellow;
  border-radius: .125em;
}

.highlight2 {
  background-color: orange;
  border-radius: .125em;
}

/*
td {
*/
    /*display: inline-block;*/
/*
    max-width: 200px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}
*/

/*
td:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: normal;*/ /* break-all */
/*
}
*/

.td-fix {
    max-width: 210px;
    min-width: 210px;
}

/*
#myTable tr td:nth-child(11) {
    max-width: 100px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

#myTable tr td:nth-child(11):hover {
    text-overflow: clip;
    white-space: normal;
    word-break: normal; 
}
*/

.td-hover {
    /*display: inline-block;*/
    max-width: 100px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.td-hover:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: normal; /* break-all */
}

.td-hover-break {
    /*display: inline-block;*/
    max-width: 100px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.td-hover-break:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all; /* normal */
}



/* input id="liveSearch" type="search" */
#liveSearch {
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height:32px;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-position: 10px 5px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;
    
  /* Now your own custom styles */
  height: 20px;
  width: 20px;
  /*background: red;*/
  background-image: url('../img/del20.png');
  /* Will place small red box on the right of input (positioning carries over) */

}

/* div class="search" */
.search {
	/*border: 3px dashed #F00;*/
    /*background-color: #d1d1d1;*/
	height: auto;
	padding: 10px;
	position: absolute;
	left: 45%;
	top: 92px;
	width: 350px;
}

.import-export {
    /*background-color: #d1d1d1;*/
    padding: 15px;
    width: 280px;
    float:right;
}

a[target="_blank"]:after {
    content: url(../img/12px_icon_external-link-.png);
}


/* div class="result_nmb_rows" */
.result_nmb_rows {
	/*border: 3px dashed #F00;*/
	height: auto;
	padding: 10px;
	position: absolute; /* absolute *//* relative */
	left: 30%; /* 33% *//* 25% */
	top: 105px; /* 105px *//* -60px */
	width: 70px;
}

.result_nmb_rows_import {
	/*border: 3px dashed #F00;*/
	height: auto;
	padding: 10px;
	position: absolute;
	left: 33%;
	top: 165px;
	width: 70px;
}

/* input class="result_nmb" */
.result_nmb {
	border: none;
	outline: none;
	width: 40px;
}

/*label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}*/

/*input[type="file"] { 
  z-index: -1;
  position: absolute;
  opacity: 0;
}

input:focus + label {
  outline: 2px solid;
}*/

         table {
            /*font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 30%;*/
        }

        td, th {
            /*border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;*/
        }
		
		th {
            background-color: #337AB7;
			color: #D1E0FF;
		}

        tr:nth-child(even) {
            background-color: #D1E0FF;
        }

@media print {
     .topcorner, .topcorner_left {
		 display: none !important;
     }
	 
	 /*--------Hide first column header (th) ---------*/
     /*table th:first-child  {display: none}*/
     /*--------Hide first column rows (td) ---------*/
     /*table td:first-child  {display: none}*/
	 
	 /*--------Hide last column header (th) ---------*/
	 table th:last-child {display:none}
	 /*--------Hide last column rows (td) ---------*/
     table td:last-child {display:none}
     	 
	 /*--------Hide n-th column header (th) ---------*/
     /*table th:nth-child(6) {display: none}
	 table th:nth-child(7) {display: none}
	 table th:nth-child(8) {display: none}*/
	 /*--------Hide n-th column rows (td) ---------*/
	 /*table td:nth-child(7) {display: none}
	 table td:nth-child(8) {display: none}
	 table td:nth-child(9) {display: none}*/
	   
	 .btn, .btn-success {
		 display: none !important;
     }
	 
	 .pagination-sm {
		 display: none !important;
     }
	 
	 /*.result_nmb_rows {
		 display: none !important;
     }*/
	 
	 .search {
		 display: none !important;
     }
}


