@import url('https://www.nerdfonts.com/assets/css/webfont.css');


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

label {
	margin-top: 16px;
}

a {
	text-decoration: none;
}

textarea {
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	box-sizing: border-box;
	padding: 8px 12px;
	border-radius: 6px;
	width: 500px;
}

i {
	font-size: 0.9em;
}

select {
	background-color: #fff;
}

.content-container {
	
}

.sidebar {
	width: 180px;
	float: left;
	margin: 0 12px;
	position: fixed;
}

.content {
	margin-left: 240px;
	margin-right: 48px;
}


.sprint-logo-header {
	padding-top: 5px;
	padding-right: 10px;
	margin-bottom: 15px;
	color: #6f7787;
	background-color: #d1e0ff; /* #fff799; */
	border-radius: 6px;
}

.sprint-logo-header > span {
	font-style: bold;
	font-size: 2em;
}

.top-header {
	margin-bottom: 56px;
}

.error-msg {
	color: #ff6644;
	font-weight: bold;
	margin: 12px 0;
	font-size: 1.3em;
}

.btn {
	margin: 16px 0;
	padding: 4px 12px;
	background: #fafbfc;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292E;
	display: inline-block;
	font-size: 14px;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	text-decoration: none;
	//width: 180px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}

.btn-small {
	margin: 0;
	padding: 0 8px;
}

.btn:hover {
	background: #eaebec;
}



.btn-sidebar {
	width: 100%;
	margin: 16px 8px;
	background: #fafbfc;
	text-align: center;
	text-decoration: none;
}

.btn-action {
	padding: 12px 20px;
	font-size: 1.1em;
	margin: 8px;
	background-image: linear-gradient(#4E95D3, #337AB7);
	color: white;
	border: 1px solid #224B6F;
	width: 100%;
}

.btn-action:hover {
	background-image: linear-gradient(#4086C4, #246BA8);
}



.btn-gradient {
	background: transparent;
	background-image: linear-gradient(#fafbfc, #eaebec);
	
}

.btn-submit {
	margin: 16px 0;
	padding: 4px 12px;
	background-image: linear-gradient(#fafbfc, #eaebec);
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292E;
	display: inline-block;
	font-size: 14px;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	cursor: pointer;
}

.btn-submit:hover {
	background-image: linear-gradient(#eaebec, #dadbdc);
}


.upload-group {
	display: flex;
}

.btn-upload-choose {
}

.upload-area-filename  {
	background: white;
	
}

.btn-upload-submit {
	
}


.form-input {
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	box-sizing: border-box;
	padding: 8px 12px;
	border-radius: 6px;
}



.action-block {
	margin-top: 42px;
}

.footer {
	margin: 56px 24px;
	padding: 12px 0;
	color: #777;
	font-size: 0.8em;
	border-top: 1px solid #eee;
}

.badge {
	display: inline-block;
	position: relative;
	top: -11px;
	left: -10px;
	background-color: green;
	font-size: 7px;
	padding: 3px 7px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	border-radius: 75%;
	font-weight: 700;
	vertical-align: middle;
}

/* table  */

.table {
	width: 100%;
	border-radius: 8px 8px 0 0;
	border-collapse: collapse;
	//box-shadow: 0 2px 2px rgba(64,64,64,.7);
	
}

.table > thead > tr > th {
	background-color: #337AB7;
	color: #D1E0FF;
	padding: 6px 12px;
	min-width: 80px;
}


.table > thead > tr > th:first-child {
	border-top-left-radius: 8px;
}

.table > thead > tr > th:last-child {
	border-top-right-radius: 8px;
}

.table > tbody > tr > td {
	padding: 6px 12px;
	border-bottom: 1px solid #ccc;
}

.table > tbody > tr > td:first-child {
	border-left: 1px solid #ccc;
}

.table > tbody > tr > td:last-child {
	border-right: 1px solid #ccc;
	text-align: center;
}

.table > tbody > tr:nth-child(even) {
	background-color: #EEF3FF;
}


/* Button group  */

.btn-group {
	display: flex;
	justify-content: center;
}

.btn-group button {
	border: 1px solid #ccc;
	padding: 2px 6px;
	cursor: pointer;
	float: left;
}

.btn-group button:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.btn-group button:last-child:not(:first-child) {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	padding-top: 100px;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	border-radius: 6px;
	width: 60%; /* Could be more or less, depending on screen size */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

.modal-input {
	width: 100%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.modal-close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #fefefe;
	border-bottom: 1px solid #ccc;
}

.modal-body {
	padding: 2px 16px;
	margin: 16px 0;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #fefefe;
}

.sprint-card {
	background-color:#EFEFEF;
	padding: 5px;
	width: 500px;
	border-radius: 5px;
	box-shadow: 0 2px 1px -1px hsla(0,0%,0%,26%),0 1px 1px 0 hsla(0,0%,0%,26%),0 1px 3px 0 hsla(0,0%,0%,26%);
	margin-bottom: 32px;
}

.sprint-card-wide {
	width: 700px;
}

.sprint-card > div {
	padding: 5px;
}

.sprint-card-badge {
	background-color: #4E95D3;
	color: #fff;
	padding: 2px 6px;
	text-align: center;
	border-radius: 6px;
	float: right;
}

.h-space-5 {
	margin-left: 2em;
}


.name-value-table {
	margin: 24px;
	margin-bottom: 48px;
	width: 652px;
	border-collapse: collapse;
}

.name-value-table > tbody > tr > td:first-child  {
	background-color: #efefef;
	color: #666;
	text-align: right;
	width: 20%;
}

.name-value-table > tbody > tr > td  {
	padding: 6px;
	vertical-align: top;
	border: 1px solid #ddd;
}


